   .bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       user-select: none;
   }

   @media (min-width: 768px) {
       .bd-placeholder-img-lg {
           font-size: 3.5rem;
       }
   }

   .navbarme{
    background-color: #250a60;
   }

   .myCreateElement {
    width: 30%;
    height: 100%;
    position: absolute;
    /* margin-top: 2%;
     margin-left: 2%;*/
   }